body {
    margin: 0;
  
    /* BEGIN (write your solution here) */
    font-size: 18px;
    font-family: Arial,sans-serif;
    line-height: 1.5;
    color: #333;
    
    /* END */
  }

  /* BEGIN (write your solution here) */

h1 {
    font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* END */

h2 {
  /* BEGIN (write your solution here) */
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 30px;
  
  /* END */

  border-bottom: 2px solid #e3e3e3;
}

main {
    width: 900px;
    margin: auto;
  }
 
  /* BEGIN (write your solution here) */
  section {
    margin: 50px 0 50px 0;
    padding: 0 50px 0 50px;
  }
  section > h2 {
    padding: 0;
    text-align: left;
    border-bottom: none;
  }
  ul {
    margin-bottom: 10px;
  }
  /* END */